<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stateside.stateside">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.stateside.stateside.application.OpenApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name="com.stateside.stateside.appmodule.activity.StartActivity"
            android:launchMode="singleInstance"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.stateside.stateside.appmodule.activity.MainActivity"
            android:launchMode="singleInstance"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.stateside.stateside.appmodule.activity.AboutActivity"
            android:launchMode="singleInstance"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".appmodule.activity.DirectionsActivity"
            android:launchMode="singleInstance"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".appmodule.activity.ScheduleDetailActivity"
            android:launchMode="singleInstance"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
    </application>

</manifest>